.listview{
    width: 80%;
    position: fixed;
    top:80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;  
    font-size: 12px;  
}